#!/bin/bash
# installation list: {{ (index .packages.linux "mysql") | join "," }}
set -euo pipefail

{{- if eq .chezmoi.os "darwin" }}
brew install {{ (index .packages.darwin "mysql") | join " " }}
{{- else if eq .chezmoi.os "linux" }}
sudo apt-get install -y {{ (index .packages.linux "mysql") | join " " }}
{{- end }}

echo "MySQL installed. Please set root password and create database.yml credentials manually."
