#!/bin/bash
# ruby version: {{ .versions.ruby }}
set -euo pipefail

echo "[CHEZMOI.INFO] Installing Ruby version {{ .versions.ruby }}"

export PATH="$HOME/.rbenv/bin:$PATH"
eval "$(rbenv init - bash)"

if ! rbenv versions --bare | grep -q "^{{ .versions.ruby }}$"; then
  rbenv install {{ .versions.ruby }}
fi
rbenv global {{ .versions.ruby }}
