#!/bin/bash
# installation list: {{ (index .packages.linux "nodejs") | join "," }}
set -euo pipefail

{{- if eq .chezmoi.os "darwin" }}
brew install {{ (index .packages.darwin "nodejs") | join " " }}
{{- else if eq .chezmoi.os "linux" }}
sudo apt-get install -y {{ (index .packages.linux "nodejs") | join " " }}
{{- end }}
