{{- if eq .osid "linux-ubuntu" }}

[".local/bin/gh"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "cli/cli" (printf "gh_*_%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
    executable = true
    stripComponents = 1
    path = "bin/gh"

[".local/bin/uv"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-x86_64-unknown-linux-gnu.tar.gz" | quote }}
    refreshPeriod = "72h"
    executable = true
    path = "uv-x86_64-unknown-linux-gnu/uv"

[".opencode/bin/opencode"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "anomalyco/opencode" "opencode-linux-x64.tar.gz" | quote }}
    refreshPeriod = "72h"
    executable = true
    path = "opencode-linux-x64.tar.gz"

{{- end }}

{{- if and (not .isEphemeral) (not .isHeadless) }}
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}
{{-   range (list
        "MesloLGS NF Regular.ttf"
        "MesloLGS NF Bold.ttf"
        "MesloLGS NF Italic.ttf"
        "MesloLGS NF Bold Italic.ttf") }}
["{{ $fontDir }}/{{ . }}"]
  type = "file"
  url = "https://github.com/romkatv/powerlevel10k-media/raw/master/{{ . }}"
  refreshPeriod = "168h"
{{-   end }}
{{- end }}

[".oh-my-zsh"]
  type = "archive"
  url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  exclude = [
    "*/.*",
    "*/templates",
    "*/themes",
  ]

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  exclude = [
    "*/.editorconfig",
    "*/.gitattributes",
    "*/.github",
    "*/.gitignore",
    "*/docs",
    "*/images",
  ]

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  exclude = [
    "*/.editorconfig",
    "*/.gitattributes",
    "*/.github",
    "*/.gitignore",
  ]

[".oh-my-zsh/custom/themes/powerlevel10k"]
  type = "archive"
  url = "https://github.com/romkatv/powerlevel10k/archive/{{ (gitHubLatestRelease "romkatv/powerlevel10k").TagName }}.tar.gz"
  exact = true
  stripComponents = 1
