encryption = "age"

{{- $isEphemeral := false -}} {{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $isHeadless := false -}}  {{/* true if this machine does not have a screen and keyboard */}}
{{- $isWork := promptBoolOnce . "isWork" "[CHEZMOI.INFO] Is this a Sun* work machine (y/n)" -}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vscode") -}}
{{-   $isEphemeral = true -}}
{{-   $isHeadless = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "LocalHostName" | trim -}}
{{- end }}

[data]
  isWork = {{ $isWork }}
  isEphemeral = {{ $isEphemeral }}
  isHeadless = {{ $isHeadless }}
  hostname = {{ $hostname | quote }}
  osid = {{ $osID | quote }}
  zshPlugins = [
    "git",
    "rails",
    "rbenv",
    "opencode",
    "zsh-autosuggestions",
    "zsh-syntax-highlighting",
  ]

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1yjlws4g2f2p5z6gvchcy7zcdzdhvs4xkdz6rm5v2vlmmx9n0zfss9znuwa" # public key

[git]
  autoCommit = true
  autoPush = true
  commitMessageTemplate = '{{"{{"}} promptString "[CHEZMOI.INFO] Commit message" "chore: update dotfiles" {{"}}"}}'

[github]
  refreshPeriod = "12h"