[user]
  name = phdoanh
  email = {{ .mail.personal }}

[color]
	ui = auto

[includeIf "gitdir:~/projects/sun-asterisk/"]
  path = ~/.gitconfig-work

[includeIf "gitdir:~/projects/"]
  path = ~/.gitconfig-personal

[init]
	defaultBranch = main