[user]
  name = {{ .gitName }}
  email = {{ .personalMail }}

[color]
	ui = auto

[includeIf "gitdir:~/projects/sun-asterisk/"]
  path = ~/.gitconfig-work

[includeIf "gitdir:~/projects/personal/"]
  path = ~/.gitconfig-personal

[init]
	defaultBranch = main
